body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    background-color: white;
    height: 40px;
    position: sticky;
    top: 0;
    width: 100%;
}

.header__info{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 40px);
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.landmarks__shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1;
    opacity: 1;
    visibility: hidden;
}

.lands-card{
    width: 100%;
    height: 100%;
    clip-path: circle(75% at 50% 40%);
    z-index: 2;
    visibility: hidden;
    transition: all 1s ease 0s;
    opacity: 1;
    /* transform: scale(0.8); */
}

.card-img{
    /* transform: scale(0.85); */
    object-position: top;
}

.bg-img {
}


.bg-img, .lands-card {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover; 
}

.big-circle, .small-circle {
    position: absolute;
    left: 50%;
    z-index: 3;
    opacity: 1;
    visibility: hidden;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, .1);
    transition: all 1s ease 0s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.big-circle {
    background-image: url("img/big\ circle.svg") center no-repeat ;
    width: 1200px;
    height: 1200px;

}

.small-circle {
    background-image: url("img/small\ circle.svg") no-repeat;
    width: 800px;
    height: 800px;
}






/* @keyframes shrink {
    0% {
        clip-path: circle(15% at 50% 40%);  
    }

    100% {
        clip-path: circle(100% at 50% 50%); 
    }
} */