body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    &::-webkit-scrollbar {
        display: none;
    }
}

h4 {
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 100vw;
    height: 100vh;
}


header {
    background-color: white;
    height: 40px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.header__info{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.fake {
    height: 100vh;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        display: none;
    }
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.cards-hider-wrapper{
    width: 100%;
    /* height: 100%; */
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.landmarks__shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1;
    opacity: 1;
}


.line{
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px; 
    height: 100%; 
    background-color: #fff; 
    display: block;
    z-index: 1;
    opacity: 0.1;
    transform: translateY(-100%);
}
.line.active {
    height: 100%;
}


.lands-card-wrapper{
    width: 100%;
    height: 100%;
}
.lands-card-wrapper-2{
    position: absolute;
    /* transform: translateY(70%); */
    transform: translateY(61%);
    z-index: 5;
    width: 100%;
    height: 100%;
    opacity: 1;
}

.lands-card-wrapper-2.active {
    transform: translateY(61%);
}


.lands-card{
    width: 100vw;
    height: 100vh;
    clip-path: circle(75% at 50% 40%);
    z-index: 2;
    opacity: 1;
}
.lands-card-2 {
    width: 100vw;
    height: 100vh;
    clip-path: circle(5% at 50% 50%);
    z-index: 2;
    opacity: 1;
}

.lands-card-hider{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background: #fff;
    border-radius: 50%;
    z-index: 3;
    opacity: 1;
    clip-path: circle(0% at 50% 50%);
}

.lands-card-2-hider {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background: #fff;
    border-radius: 50%;
    z-index: 3;
    opacity: 1;
    clip-path: circle(15% at 50% 50%);
    /* transition: 0.2s all; */

/* ------- 2nd animation ------- */

    /* width: 100%;
    height: 170%;
    bottom: 0;
    background: #fff;
    border-radius: 50%;
    z-index: 3;
    opacity: 1; */

}



.card-img, .bg-img{
    object-position: top;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-img-2{
    object-position: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-img-2.map {
    padding-top: 2%;
    z-index: 999;
    /* height: 100vh; */
}


.bg-img.disabled {
    opacity: 0;
}





.bg-img, .lands-card {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover; 
    transform: translateY(40px);
}

.lands-card-info{
    width: 100%;
    position: absolute;
    bottom: 17%;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
}


.lands-card-info-2{
    width: 100%;
    position: absolute;
    bottom: 10%;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
}



.card-info-mins{
    font-size: 50px;
    color: #fff;
    margin-bottom: 10px;
    line-height: 1.2;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
}


.card-info-mins-2 {
    font-size: 50px;
    color: #fff;
    margin-bottom: 10px;
    line-height: 1.2;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
}


.card-info-subtitle{
    font-size: 20px;
    color: #fff;
    line-height: 1.2;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
}


.card-info-subtitle-2{
    font-size: 20px;
    color: #fff;
    line-height: 1.2;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
}


.landmarks__hidden-info{
    width: 100%;
    height: 100%;
    position: relative;
}

.landmarks__hidden-info{

position: absolute;
top: 5%;
left: 51%;
z-index: 4;
display: flex;
flex-direction: column;
color: #fff;
font-size: 1.4rem;
font-family: "Montserrat";
line-height: 4vh;
overflow: hidden;

}

.lands-hidden-text{
    transform: translateX(-100%);
    transition-duration: 1s;
}
/* .lands-hidden-text:nth-child(2) {
    top: 10%
}
.lands-hidden-text:nth-child(3) {
    top: 14%
}
.lands-hidden-text:nth-child(4) {
    top: 18%
} */



.big-circle, .small-circle {
    position: absolute;
    left: 50%;
    z-index: 3;
    opacity: 1;
    /* visibility: hidden; */
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, .1);
    /* transition: all 1s ease 0s; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.big-circle {
    background-image: url("img/big\ circle.svg") center no-repeat ;
    /* width: 100%; */
    aspect-ratio: 1/1;
    object-fit: cover;
    /* height: 600px; */
    height: 130%;
    transition: 0.6s all;
}

.big-circle.active{
    height: 110%;
    /* transform: scale(1.5); */
}

.small-circle {
    background-image: url("img/small\ circle.svg") no-repeat;
    aspect-ratio: 1/1;
    /* width: 800px; */
    /* height: 1000px; */
    height: 80%;
    transition: 0.6s all;
}

.small-circle.active{
    height: 70%;
}
